@font-face {
    font-family: 'Roboto';
    src: url(./assets/RobotoCondensed.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(./assets/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: 'Jost';
    src: url(./assets/Jost.ttf);
}

@font-face {
    font-family: 'Jost Bold';
    src: url(./assets/Jost-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

aside {
    background-color: lightslategray;
    width: 300px;
    height: 100%;
    padding: 25px;
}

aside h2 { color: white; }

.dash-links {
    margin-top: 20px;
    display: grid;
    gap: 10px;
}

.dash-link {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
    transition: padding-left 0.5s ease, border-left 0.5s ease;
    border-left: 0px solid rgba(255,255,255,0);
}

.dash-link:hover {
    border-left: 10px solid white;
    padding-left: 5px;
}

main {
    background-image: url(./assets/rough.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    gap: 30px;
    padding-bottom: 20px;
    overflow: auto;
}

header {
    background-color: white;
    width: 100%;
    /* height: 150px; */
    padding: 20px 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: calc(30% - 5px) calc(70% - 5px); */
    gap: 20px;
}

.search {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.search-button {
    padding: 5px;
}

.search-field {
    width: 100%;
    max-width: 400px;
    padding: 8px 16px;
    appearance: none;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 30px;
}

.search-field:focus-visible ~ .search-button  {
    opacity: 1;
}

.greeting {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 15px;
}

.your-pfp {
    width: 80px;
    height: 80px;
}

.greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greet {
    font-weight: normal;
}

.little-greet {
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

.big-greet {
    font-family: 'Jost Bold', Arial, Helvetica, sans-serif;
    line-height: 2.25rem;
}

.top-corner {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.your-pfp-mini {
    width: 30px;
    height: 30px;
}

.controls {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.pill {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    text-decoration: none;
    background-color: lightslategray;
    padding: 8px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
}

.pill:hover {
    text-decoration: underline;
}

h3 {
    font-family: 'Jost Bold', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h2 {
    font-family: 'Jost Bold', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.75rem;
    margin-bottom: 10px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

p, span, small {
    font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
}

small {
    font-size: 0.9rem;
}

p b, span b, small b {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.grid-wrapper {
    width: calc(100% - 390px);
    margin-left: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.sidebar-wrapper {
    width: 300px;
    position: sticky;
    top: 20px;
    display: grid;
    grid-template-rows: min-content;
    gap: 20px;
    height: calc(100% - 20px);
}

.sidebar {
    max-width: 300px;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.card, header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project {
    border-left: 8px solid lightslategray;
}

.announcements {
    display: grid;
    gap: 10px;
}

.announcement + .announcement {
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.announcement small {
    width: calc(100%);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.trends {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 10px;
}

.trend-pfp {
    width: 50px;
    height: 50px;
}

.project {
    display: grid;
    gap: 20px;
}

.project-icons {
    text-align: right;
}

.project-icon + .project-icon {
    margin-left: 15px;
}

.pfp {
    border-radius: 100%;
}

.project-svg {
    max-width: 25px;
    filter: invert(57%) sepia(25%) saturate(272%) hue-rotate(169deg) brightness(88%);
}

.project-svg:hover {
    filter: none;
}

.ann-svg {
    max-width: 20px;
    margin-bottom: -4px;
    opacity: 0.25;
}

.notif-bell {
    width: 25px;
    opacity: 0.25;
}

.search-svg {
    width: 25px;
    opacity: 0.25;
}